suite_namespace: frontend\tests\acceptance
actor: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: http://frontend/
            host: 'selenium'
            port: 4444
            browser: firefox
        - Yii2:
            part: init
