suite_namespace: frontend\tests\acceptance
actor: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: 'http://frontend/index-test.php'
            browser: firefox
        - Yii2:
            part: init